// Typography
$font-family-sans-serif: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors

$brand-primary:                 #ffffff;
$text-color:                    #000000;
$link-color:                    #c00303; 
