@import 'variables';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import 'layouts/default';

@import 'components/nav';
@import 'components/page-content';
@import 'components/main-title';
@import 'components/headline';
@import 'components/board-member';
@import 'components/article-card';
@import 'components/event-card';
@import 'components/form';
@import 'components/article';
@import 'components/accordion';
@import 'components/coc-quote';
@import 'components/tournament-table';
