@import url('https://fonts.googleapis.com/css?family=Lato');

@import 'variables';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import 'layouts/default';

@import 'components/nav';
@import 'components/main-title';
@import 'components/headline';

