.article-card {
    padding: 1rem;
    border: 1px solid #e2e0e0;
    border-radius: 0.5rem;
    color: $text-color;
    display: block;
    margin: 15px 0;
    overflow: hidden;
}

.article-card__image {
    width: calc(100% + 32px);
    margin: -16px -16px 15px;
}

.article-card__name {
    font-size: 2rem;
}

.article-card__meta {
    font-size: 0.7rem;
}