.event-card {
    padding: 1rem;
    border: 1px solid #e2e0e0;
    border-radius: 0.5rem;
    color: $text-color;
    display: block;
}

.event-card__image {
    width: calc(100% + 32px);
    margin: -16px -16px 15px;
}

.event-card__name {
    font-size: 2rem;
}

.event-card__type {
    font-size: 1rem;
}

.event-card__price {
    font-size: 1rem;
}