.event-card {
    padding: 1rem;
    border: 1px solid #e2e0e0;
    border-radius: 0.5rem;
    color: $text-color;
    display: block;
}

.event-card__image {
    max-width: calc(100% + 32px);
    max-height: 300px;
    margin: 0 auto 15px;
    display: block;
}

.event-card__name {
    font-size: 2rem;
}

.event-card__type {
    font-size: 1rem;
}

.event-card__price {
    font-size: 1rem;
}