.main-title {
    background: #f1f1f1;
    margin-top: 0;
    padding-top: 55px;
    padding-bottom: 55px;
    color: white;
    position: relative;

    background-image: url('/assets/images/banner.png');
    background-size: 1160px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;

    h1 {
        font-size: 3rem;
        margin-bottom: 0;
    }

    .main-title__text-holder {
        padding-left: 15%;
    }

    @media (max-width: 1180px) {
        background-size: 1200px auto;
        background-position: left;

        .main-title__text-holder {
            padding-left: 130px;
        }
    }

    @media (max-width: 600px) {
        background-image: none;

        .main-title__text-holder {
            padding-left: 0;
        }
    }
}