html {
    font-size: 18px;
}

body {
    background-color: $brand-primary;
}

hr {
    border-color: #e9e9e9;
}

a {
    color: $link-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0.8em;
}

.container {
    max-width: 1170px;
}